.journey-button-top {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  
  background-color: #B03A2E; /* Torii gate color */
  color: #fff; /* White text for contrast */
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.journey-button-top:hover {
  background-color: #a13227; /* Slightly darker shade on hover */
}

.journey-button-top:disabled,
.journey-button-top.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
  background-color: #B03A2E; /* Same base color when disabled */
}

.map-container {
    @apply relative w-full h-[75vh] md:h-[80vh] lg:h-[85vh];
}
